.about {
  display: flex;
  flex-direction: column;
  
  height: 100%;

  padding: 2rem;
  padding-bottom: 5rem;
  text-align: left;
}

.about-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2.5rem;

  
  min-height: 100%;

  align-items: stretch;
}

.about-col {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  gap: 2rem;
  min-width: 0;

  min-height: 0;
  height: 100%;
  overflow: hidden;
}

.help {
  display: grid;
  grid-template-columns: .2fr 1fr;
  gap: 1rem;
}

.education {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: stretch;
  gap: 2rem;

  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: stretch;
  text-align: left;
  gap: 2rem;

  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 0;
  
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.timeline-item,
.ed-item,
.skill-item,
.contact-item {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin-right: 1rem;

  padding: 2rem 2rem;
  border: .2rem solid var(--border);
  border-radius: 1rem;
  background: var(--glass);
  backdrop-filter: blur(16px) brightness(75%);
}

.timeline-item,
.skill-item,
.ed-item {
  cursor: pointer;
  transition: border-color 0.5s ease-out;
}

.skill-item {
  gap: .75rem;
}

.timeline-item:hover,
.skill-item:hover,
.ed-item:hover {
  border: .2rem solid var(--text);
}

.timeline-item:hover .arrow-center,
.skill-item:hover .arrow-center,
.ed-item:hover .arrow-center {
  color: var(--text-h);
}

.skill-sub-item {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.about-col,
.timeline,
.education,
.skill-item,
.timeline-item,
.ed-item {
  min-width: 0;
}

.arrow-center {
  color: var(--text);
  padding: 0;
  align-self: center;
  line-height: 0%;
  transition: color 0.5s ease-out;
}

.expandable-wrapper__job {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.expandable-wrapper__job.open {
  max-height: 500px;
}

.expandable-content__job {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0;
}

.expandable-wrapper__skill {
  padding: 0 0;
  
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.expandable-wrapper__skill.open {
  max-height: 500px;
}

.expandable-content__skill {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0;
}

.about-link {
  display: flex;
  justify-content: flex-end;
}


@media (max-width: 1100px) {
  .about {
    display: flex;
    overflow: scroll;
  }
  
  .about-grid {
    grid-template-columns: 1fr;
  }

  .about-col {
    min-height: fit-content;
    overflow: visible;
  }

  .--column-mobile {
    flex-direction: column;
    gap: .5rem;
  }

  .contact-grid {
      grid-template-columns: 1fr;
  }

  h2,
  h3 {
    text-wrap: wrap;
  }
}