.nav {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    gap: 1rem;
  }
}

.nav-item {
  font-size: 1.25rem;
  text-decoration: none;
  transition: transform .25s ease-in-out;

  color: var(--heading);

  @media (max-width: 1024px) {
    font-size: 1rem;
  }
}

.nav-item:hover {
  transform: translateY(-.2rem);
  color: var(--text-h);
  text-decoration: underline;
}